h1 {
    font-family: "Manrope", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    background-color:black;
}

.search-bar {
    width: 100vw;
    height: 50px;
    background-color: #111112;
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 15;
}

.tab-viewer {
    display: block;
    height: calc(100vh - 100px);
    width: 100vw;
    position: fixed;
    top: 100px;
    border: none;
    background: white;
}


.nav-buttons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-buttons button {
    background-color: #111112;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 3px;
    border-radius: 3px;
    transition: background-color 0.2s;
    color: white;
    font-size: 16px
}

.nav-buttons button:hover {
    background-color: #333333;
}


.tab-bar {
    width: 100vw;
    height: 50px;
    background-color: #111112;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

.tab[active-tab="false"] {
    height: 36px;
    background-color: #111112;
    margin: 7px 5px;
    border: 1px solid rgb(122, 26, 245);
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.tab[active-tab="true"] {
    box-shadow: 0 0 30px 0.5px rgb(122, 26, 245, 0.9);
    height: 36px;
    background-color: rgb(122, 26, 245);
    margin: 7px 5px;
    border: 1px solid rgb(122, 26, 245);
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.tab:hover {
    background-color: #7A1AF5FF;
}

.tab:active {
    background-color: #6816d1;
}

.tab-title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-left: 10px;
}

.tab-favicon {
    width: 25px;
}

.tab-close {
    width: 20px;
    height: 20px;
    background-color: #f31010;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.tab-close:hover {
    background-color: #ff2f2f;
}

.tab-close:active {
    background-color: #9a1c1c;
}

.newtab {
    height: 36px;
    background-color: #111112;
    margin: 7px 5px;
    border: 1px solid rgb(122, 26, 245);
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
}

.newtab:hover {
    background-color: #7A1AF5FF;
}

.newtab:active {
    background-color: #6816d1;
}

.newtab-icon {
    width: 25px;
}

.search-box {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    height: 36px;
    width: 80vw;
    max-width: 800px;
    background-color: #111112;
    margin: 7px 5px;
    padding-left: 10px;
    border: 1px solid rgb(122, 26, 245);
    border-radius: 5px;
    transition: box-shadow 0.2s;
    cursor: text;
    color: white;
}

.search-box:focus {
    box-shadow: 0 0 10px 0.5px rgb(122, 26, 245, 0.9);
    outline: none;
}

@keyframes opacityFlicker {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.proxy-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100vw;
    position: fixed;
    top: 100px;
    color: white;
    animation: opacityFlicker 5s infinite;
    background-color: black;
    visibility: hidden;
}

.tab-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100vw;
    position: fixed;
    top: 100px;
    visibility: visible;
}
